
.aboutContainer {
    width: 100%;
    padding-top: 70px;
    height: 110vh;
    position: relative;
    margin-top: -2.6%;
}
.aboutTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(148, 54, 224);
}

.aboutSection {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.aboutBox {  
    display: flex;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0 4px 10px grey;
}

.aboutContext {
    margin-top: -5px;
    margin-bottom: -5px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    color: palevioletred;
}

.resume {
    font-size: 20px;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 4px 10px grey;
}
.resume:hover {
    box-shadow: 0 4px 12px rgb(91, 91, 91);
    background-color: rgb(227, 156, 255);
    color: rgb(110, 0, 170);
    transition: 300ms ease;
}


.aboutReference {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.aboutIcon {
    color: rgb(148, 54, 224);
    padding: 10px 15px;
}
.aboutIcon:hover {
    transition: all 200ms ease-in;
    color: rgb(213, 57, 182);
}

.codingImage {
    border-radius: 50px;
}

.bar1 {
    background-color: rgb(177, 78, 243);
    border-radius: 50px;
    width: 600px;
    height: 30px;
}

.bar2 {
    background-color: rgb(177, 78, 243);
    border-radius: 50px;
    width: 400px;
    height: 30px;
}

.bar3 {
    background-color: rgb(177, 78, 243);
    border-radius: 50px;
    width: 800px;
    height: 30px;
}
