.home {
    height: 120vh;
    position: relative;
    box-shadow: 0 12px 20px rgb(64, 31, 100);
    border-radius: 10px;
}

.name {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 120vh;
    width: 100%;
    font-size: 90px;
    text-align: center;
    color: palevioletred;
}

.letter {
    margin: 20px;
    padding-bottom: 25px;
}

.smallRock {
    margin-right: 300px;
    background-color: rgb(177, 78, 243);
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

.smallRock2 {
    margin-left: 300px;
    background-color: rgb(165, 142, 38);
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.smallRock3  {
    margin-left: 800px;
    background-color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.smallRock4  {
    background-color: rgb(230, 104, 46);
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
